@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body,
input {
  font-size: 1.2em;
  line-height: 2em;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background: url('background.webp') no-repeat center fixed;
  background-size: cover;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 2.2em;
  line-height: 2.0em;
  font-weight: bold;
  color: #202123;
  margin: 0px 0 0px;
}

span {
  margin-top: 20px;
}

input {
  margin-top: 15px;
  text-align: center;
}

input[type="submit"], .button_style {
  width: 30vw;
  padding: 12px 0;
  color: #fff;
  background: linear-gradient(to bottom right, #33ccff -10%, #ff99cc 100%);
  border: none;
  border-radius: 60px;
  text-align: center;
  cursor: pointer;
}

input[type="text"], input[type="number"] {
  padding: 8px 0;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  text-align: center;
}

input[type="checkbox"] {
  /* padding: 30px 0; */
  width: 1.7em;
  height: 1.7em;
  color: #fff;
  background: linear-gradient(to bottom right, #33ccff -10%, #ff99cc 100%);;
  border: none;
  text-align: center;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.icon {
  width: 34px;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  width: 30vw;
}

::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

#back_button {
  cursor: pointer;
  position: absolute;
  right: 85%;
  width: 7em;
  margin: 0px;
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(to top, #5191ff -10%, #ffcbd1 100%);
}

/* Remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
