<!DOCTYPE html>
<head>
    <title>KYC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='ansatt.css') }}" />
</head>

<body>
    <h3>Hei, felles ansatt!</h3>
    <p>Her er søknadene du ba om.</p>
    <span></span>
    <span></span>

    <div id="applications"></div>
        {% for key, val in appl_data.items() -%}
        <div class="application">
            <img src="static/application_imgs/{{ val.image_name }}" width="60%" height="60%">
            <div style="margin-left: 20px">
                <h3 style="font-size: 1.2em;"><b>{{val.fullname}}</b></h3>
                <p style="line-height: 1.4em; margin: 0.4em 0;">Fødselsnummer: <b>{{val.ssn}}</b></p>
                <p>Tid: <b>{{val.time.split(".")[0]}}</b></p>
                <p>Søkemengde: <b>{{ val.loan_amt }} kr</b></p>
                <p>PEP-treff: <b>{{val.PEP_lookup_result.numberOfHits}}</b></p>
            </div>
        </div>
        <span></span>
        {% endfor %}
</body>
