<!DOCTYPE html>
<head>
    <title>KYC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='kunde.css') }}" />
</head>

<body>
    <h3>Boom! Suksess!</h3>
    <p>Søknaden din har blitt mottatt.</p>
    <!-- TODO: add message if person has been flagged as PEP -->
    {% if PEP_msg %}
    <p class="PEP_warning"><b> {{ PEP_msg }} </b></p>
    {% endif %}
    {% if PEP_funny_msg %}
    <p class="PEP_warning"><b> {{ PEP_funny_msg }} </b></p>
    {% endif %}
    <div style="cursor: pointer;" onclick="window.location='/';">
        <input type="submit" class="input_as_button" value="Yay! Ta meg tilbake."/>
    </div>

</body>